body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#labelContainer {
  position: absolute;
  top: 0;
  left: 0;
}
.label {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.7);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* width: 100%;
    height: 100%; */
  pointer-events: none;
}

.table {
  position: absolute;
  left: 2em;
  top: 4em;
}
table {
  border: 1px solid #aaa;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
td {
  padding: 0.3em 0.3em;
}
table thead th,
table tbody th,
table tbody td {
  border-bottom: 1px solid #aaa;
}

table thead th {
  background-color: rgba(190, 190, 190, 0.8);
}
table tbody td {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
table thead th + th,
table tbody td {
  border-left: 1px solid #aaa;
}

table tbody tr:last-child th,
table tbody :last-child td {
  border-bottom: none;
}

table tr:nth-child(2n + 1) {
  background: #999;
}

#statusMonitor {
  background-color: #ddd;
  position: absolute;
  top: 0.5em;
  left: 2em;
  border-radius: 0.3em;
  border: 1px solid #aaa;
}
